@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .diagonal-bg {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .mesh-texture {
    background-image: radial-gradient(#006e27 0.5px, transparent 0.5px);
    background-size: 8px 8px;
    opacity: 0.1;
  }
}
